body {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 4px double black;
    margin: auto;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
    text-align: center;
}